@import "a4wcolors";

// dark grey
.highlight-primary {
  background-color: $colorSecond;
  color: #ffffff;
  a {
    color: #ffffff;
    &:hover {
      color: #ffffff;
    }
  }
}

// light grey
.highlight-secondary {
  background-color: $colorFourth;
  color: $colorFourth;
}

// blue
.highlight-tertiary {
  color: #ffffff;
  background: $colorThird url(img/zigzag.png) 0 0 repeat;
}

.highlight-quaternary {
  color: $anotherShadeOfGrey;
  background-color: $colorFourth;
}

.btn {
  background: $colorFirst url(img/zigzag.png) 0 0 repeat;
}


.over {
  position: relative;
  max-height: 25em;
  text-align: center;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    background-color: rgba(0,0,0,0.3);
    background-image: url(img/zigzag.png);
    background-position: 0 0;
    background-repeat: repeat;
    z-index: 0;
  }
  @media (min-width: 85em) {
    &:nth-of-type(2n+3) {
      float: left;
      width: 49.8%;
      clear: left;
      margin-top: 0.25em;
      img {
        position: absolute;
        left: 0;
        top: -5em;
        @media (min-width: 80em) {
          top: -10em;
        }
        @media (min-width: 100em) {
          top: -15em;
        }
        @media (min-width: 120em) {
          top: -20em;
        }
        @media (min-width: 140em) {
          top: -25em;
        }
        @media (min-width: 160em) {
          top: -30em;
        }
      }
    }
    &:nth-of-type(2n) {
      float: right;
      width: 49.8%;
      margin-top: 0.25em;
      img {
        position: absolute;
        left: 0;
        top: -5em;
        @media (min-width: 80em) {
          top: -10em;
        }
        @media (min-width: 100em) {
          top: -15em;
        }
        @media (min-width: 120em) {
          top: -20em;
        }
        @media (min-width: 140em) {
          top: -25em;
        }
        @media (min-width: 160em) {
          top: -30em;
        }
      }
    }
  }
  &:first-child {
    .article-title {
      margin-bottom: 0.5em;
    }
  }
  img {
    position: absolute;
    left: 0;
    top: -5em;
    @media (min-width: 40em) {
      top: -10em;
    }
    @media (min-width: 50em) {
      top: -15em;
    }
    @media (min-width: 60em) {
      top: -20em;
    }
    @media (min-width: 70em) {
      top: -25em;
    }
    @media (min-width: 80em) {
      top: -30em;
    }
  }
  .link-comments {
    text-align: left;
    @media (min-width: 48em) {
      right: 4em;
    }
  }
}

.over-text {
  text-align: left;
  @media (min-width: 48em) {
    left: 7em;
    right: 11em;
  }
  @media (min-width: 85em) {
    right: 36em;
  }
}

.over {
  @media (min-width: 85em) {
    &:nth-of-type(2n+3) {
      .over-text {
        left: 1em;
        right: 1em;
      }
    }
    &:nth-of-type(2n) {
      .over-text {
        left: 1em;
        right: 1em;
      }
    }
  }
}

.over-poll {
  background-color: $colorFirst;
}

.cta {
    clear: both;
}


.poll,
article {
  @media (min-width: 48em) {
    padding-left: 7em;
    padding-right: 20em;
  }
  @media (min-width: 85em) {
    padding-right: 50em;
  }
}

.comments {
  @media (min-width: 48em) {
    margin-left: 7em;
    margin-right: 20em;
  }
  @media (min-width: 85em) {
    margin-right: 50em;
  }
}

.article-teaser-thumb {
  float: left;
  width: 20%;
  img {
    width: 100%;
  }
}

.article-teaser-text {
  float: right;
  width: 75%;
}

.nav-social {
  background: $colorSecond;
  a {
    opacity: 0.5;
  }
}

.nav-legal-lang {
  background: $colorSecond;
  li {
  border-color: $anotherShadeOfGrey;
  }
  a {
    color: $anotherShadeOfGrey;
    &:hover {
      color: #ffffff;
    }
  }
  .active {
    color: #ffffff;
  }
}

.nav-menu {
  li {
    border: none;
  }
  li:nth-of-type(1) {
    border-top: solid 1px $anotherShadeOfGrey;
  }
  li:nth-of-type(2) {
    border-bottom: solid 1px $anotherShadeOfGrey;
    padding-bottom: 1em;
  }
  li:nth-of-type(3) {
    margin-top: 1em;
  }
  li:last-child {
    margin-bottom: 1em;
  }
  .nav {
    max-width: 30em;
    a {
      font-size: 2em;
      text-transform: uppercase;
      font-weight: bold;
      text-decoration: none;
    }
  }
}

.lang-change {
  padding-left: 2em;
}

// off canvas
.js {
  #nav-close {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $colorSecond;
    opacity: 0.8;
  }

  .nav-main-active {
    width: 11em;
    max-width: 100%;
  }

  #menu {
    @include displaymenu;

    @media (min-width: 48em) {
      .btn-wide {
        width: 48%;
        clear: left;
      }
      [for="username"],
      [for="mobile-number"],
      [for="id_gender"],
      [for="id_identity"] {
        width: 48%;
        float: left;
        clear: left;
      }
      [for="pin"],
      [for="id_password1"],
      [for="display_name"],
      [for="id_year_of_birth"] {
        width: 48%;
        float: right;
      }
      [for="remember-me"],
      [for="id_tos"] {
        clear: left;
      }
    }
  }

  #close {
    position: absolute;
    top: 1em;
    right: 2em;
    z-index: 2;
  }

  #back {

    position: absolute;
    top: 1em;
    left: 1em;
  }

  #signin,
  #search,
  #register  {
    @include displaymenu;
  }
}

fieldset {
  padding-bottom: 2em;
}

.logo {
  img {
    width: 85px;
  }
}

// override max-widths set in css/enhanced.scss
@media screen {
  html {
    max-width: none;
    @media (min-device-width: 50em) {
      max-width: none;
    }
  }
}
