{% macro a4wlogo() -%}
<a href="#" id="logo"><img src="/static/img/a4w-live.png" alt="A4W Live"></a>
{%- endmacro %}

{% macro avatar() -%}
<span class="avatar">
  <img src="/static/img/squitten-s.jpg" alt="A small square kitten">
</span>
{%- endmacro %}

{% macro buttonicon() -%}
<a href="#" class="btn"><i class="i i-plus"></i>Read more</a>
{%- endmacro %}

{% macro btnicon() -%}
<a href="#" class="btn"><i class="i i-plus"></i>Read more</a>
{%- endmacro %}

{% macro btn() -%}
<a href="#" class="btn">Read more</a>
{%- endmacro %}

{% macro comcountalttext() -%}
<a href="#comment-add" class="link-comments link-comments-alt">
  <i class="i i-comment i-comment-alt"></i>23 comments
  <span class="comment-add">+ Add Yours</span>
</a>
{%- endmacro %}

{% macro comcountalt() -%}
<a href="#" class="link-comments link-comments-alt"><i class="i i-comment i-comment-alt"></i>23</a>
{%- endmacro %}

{% macro commentcounter() -%}
<a href="#" class="link-comments"><i class="i i-comment"></i>23</a>
{%- endmacro %}

{% macro cta() -%}
<p class="cta"><a href="#">+ See more stories</a></p>
{%- endmacro %}

{% macro errormessage() -%}
<p class="error">Helpful error message.</p>
{%- endmacro %}

{% macro iconemail() -%}
<a href="#"><i class="i i-email"></i> Email</a>
{%- endmacro %}

{% macro iconfacebook() -%}
<a href="#"><i class="i i-facebook"></i> <span class="visuallyhidden">Facebook</span></a>
{%- endmacro %}

{% macro iconinstagram() -%}
<a href="#"><i class="i i-instagram"></i> Instagram</a>
{%- endmacro %}

{% macro iconmenu() -%}
<a href="#menu"><i class="i i-menu" aria-label="site navigation"></i> Menu</a>
{%- endmacro %}

{% macro iconprofile() -%}
<a href="#"><i class="i i-profile"></i> Profile</a>
{%- endmacro %}

{% macro iconsearch() -%}
<a href="#search"><i class="i i-search"></i> Search</a>
{%- endmacro %}

{% macro icontwitter() -%}
<a href="#"><i class="i i-twitter"></i> <span class="visuallyhidden">Twitter</span></a>
{%- endmacro %}

{% macro image() -%}
<img src="/static/img/kitten240.jpg" srcset="/static/img/kitten400.jpg 300w" alt="A cute kitten" />
{%- endmacro %}

{% macro checkbox() -%}
<label for="remember-me">
  <input type="checkbox" id="remember-me" name="remember-me">
  Remember me
</label>
{%- endmacro %}

{% macro inputerror() -%}
<input type="text" class="input-error" value="Input with an error" />
{%- endmacro %}

{% macro inputsearch() -%}
<input type="search" id="input-search" name="input-search" placeholder="e.g. women" class="input-wide" />
{%- endmacro %}

{% macro submit() -%}
<input type="submit" value="Submit" class="btn btn-wide" />
{%- endmacro %}

{% macro tel() -%}
<label for="mobile-number">Mobile Number
  <input type="tel" id="mobile-number" name="mobile-number" class="input-wide" />
</label>
{%- endmacro %}

{% macro inputtextbox() -%}
<label for="comment-add">
  Add your comment
  <textarea name="comment-add" id="comment-add" cols="30" rows="10">
  </textarea>
</label>
{%- endmacro %}

{% macro inputwide() -%}
<label for="username">Username
  <input type="text" id="username" name="username" class="input-wide" />
</label>
{%- endmacro %}

{% macro input() -%}
<label for="username">Username
  <input type="text" id="username" name="username" />
</label>
{%- endmacro %}

{% macro logothin() -%}
<img src="/static/img/kitten-logo-thin.jpg" srcset="/static/img/kitten-logo-thin-l.jpg 120w" alt="A cute kitten" />
{%- endmacro %}

{% macro logo() -%}
<img src="/static/img/kitten-logo.jpg" srcset="/static/img/kitten-logo-l.jpg 300w" alt="A cute kitten" />
{%- endmacro %}

{% macro navclose() -%}
<a href="#main" id="nav-close" class="hidden">main</a>
{%- endmacro %}

{% macro pin() -%}
<label for="pin">PIN
  <input type="text" pattern="[0-9]{4}" id="pin" name="pin" class="input-wide" />
</label>
{%- endmacro %}
