{% import 'atoms.html' as atoms %}
{% import 'molecules.html' as molecules %}
{% import 'organisms.html' as organisms %}

<!DOCTYPE html>
<html dir="{{view.get_language_direction}}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
    <title>Action for Women</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0;" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <meta name="description" content=""/>
    <meta name="keywords" content="women"/>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" media="screen and (min-width: 20em)" href="/static/css/enhanced.css">

  <script type="text/javascript">
    WebFontConfig = {
      google: { families: [ 'Exo+2:400,700:latin' ] }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>
</head>

<body>
{{molecules.a4wnavmain()}}

<main id="main">
{% block content %}
{% endblock %}
</main>

{{ organisms.formsignin() }}
{{ organisms.formregister() }}
{{ organisms.formsearch() }}
{{ molecules.a4wnav() }}
{{ atoms.navclose() }}
</body>

<script src="/static/js/main.js" async></script>

</html>
