/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  background-color: #fff;
  font-size: 1em;
  line-height: 1.4; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/* ==|== primary styles ==================================================== */
body {
  position: relative; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

::-moz-selection {
  background-color: white;
  color: #32a6a6;
  text-shadow: none; }

::selection {
  background-color: white;
  color: #32a6a6;
  text-shadow: none; }

/* Cancels out Firefox Mobile's gradient background */
button {
  background-image: none; }

.main {
  padding: 1em; }

img {
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  height: auto; }

.banner img {
  width: 100%;
  max-width: 100%; }

svg:not(:root) {
  overflow: hidden; }

canvas, iframe, video, svg {
  max-width: 100%;
  height: auto; }

/* Wrap tables or pre elements in a div with this class */
.overflow-container {
  overflow-y: scroll; }

@-webkit-viewport {
  width: device-width; }
@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
html {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #f2f2f2; }

/* ==|== Links ==== */
:not(a):focus {
  outline: none; }

html {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.25; }

body {
  margin: 0; }

body a {
  word-wrap: break-word; }

h1, h2, h3, h4 {
  margin-top: 0; }

.l-row {
  clear: both;
  *zoom: 1; }
  .l-row:before {
    content: " ";
    display: table; }
  .l-row:after {
    content: " ";
    display: table;
    clear: both; }

.l-half {
  width: 50%; }
  .l-half:first-child {
    float: left; }
  .l-half:last-child {
    float: right; }

input, select {
  padding: 0.5em;
  font-size: 0.9em; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield; }

.error {
  color: red; }

.input-error {
  border: solid 1px red; }

.btn {
  padding: 0.75em 1em;
  border: none; }

.btn-wide {
  display: block;
  text-align: center; }

input.btn-wide {
  width: 100%;
  font-size: 0.9em;
  cursor: pointer; }

textarea {
  display: block;
  width: 100%;
  font-size: 0.9em; }

.label-wide, .input-wide {
  display: block;
  width: 100%;
  margin-bottom: 1em; }

.nav a {
  padding: 0.5em; }
.nav p {
  padding: 0.5em 1em; }

.list-inline {
  list-style: none;
  margin: 0;
  padding: 0.5em 1em; }
  .list-inline > li {
    display: inline-block;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: solid 2px #ddd; }
    .list-inline > li:first-child {
      border-left: none; }

.list-plain {
  list-style: none; }
  .list-plain * {
    list-style: none; }

.list-block {
  margin: 0;
  padding: 0; }
  .list-block > li {
    display: block;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #ddd;
    border-left: none;
    clear: both; }
  .list-block a {
    padding: 0.5em 1em;
    display: block; }
  .list-block h2, .list-block h3 {
    margin: 0;
    font-size: 1em; }
  .list-block p {
    margin: 0; }

.list-header {
  margin: 0;
  padding: 0.5em;
  font-size: 1em;
  line-height: 1; }
  .list-header a {
    text-decoration: none; }

.header-centered {
  text-align: center; }

.over {
  position: relative; }
  .over img {
    width: 100%; }

.over-text {
  position: absolute;
  right: 1em;
  bottom: 4em;
  left: 1em;
  z-index: 1; }
  .over-text p:last-child {
    margin-bottom: 0; }

a.over-text {
  text-decoration: none; }

.over .link-comments {
  position: absolute;
  right: 1em;
  bottom: 1em;
  z-index: 1; }

.link-comments {
  line-height: 3; }

.i {
  display: inline-block;
  overflow: hidden;
  height: 30px;
  width: 30px;
  position: relative; }

.i-comment {
  background: transparent url(img/icon-comment-count.png) 0 0 no-repeat;
  top: 11px;
  margin-right: 0.5em; }
  @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2) {
    .i-comment {
      background-image: url(img/icon-comment-count-2x.png);
      background-size: 30px; } }

.i-comment-alt {
  background-image: url(img/icon-comment-count-red.png); }
  @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2) {
    .i-comment-alt {
      background-image: url(img/icon-comment-count-red-2x.png);
      background-size: 30px; } }

.i-facebook {
  background-image: url(img/icon-facebook.png); }
  @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2) {
    .i-facebook {
      background-image: url(img/icon-facebook-2x.png);
      background-size: 30px; } }

.i-twitter {
  background-image: url(img/icon-twitter.png); }
  @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2) {
    .i-twitter {
      background-image: url(img/icon-twitter-2x.png);
      background-size: 30px; } }

.i-facebook-share {
  background-image: url(img/icon-facebook-share.png);
  margin-right: 4em; }
  @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2) {
    .i-facebook-share {
      background-image: url(img/icon-facebook-share-2x.png);
      background-size: 30px; } }

.i-twitter-share {
  background-image: url(img/icon-twitter-share.png); }
  @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2) {
    .i-twitter-share {
      background-image: url(img/icon-twitter-share-2x.png);
      background-size: 30px; } }

.i-email-share {
  background-image: url(img/icon-email-share.png);
  margin-left: 4em; }
  @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2) {
    .i-email-share {
      background-image: url(img/icon-email-share-2x.png);
      background-size: 30px; } }

.i-hamburger {
  height: 20px;
  width: 20px;
  background-image: url(img/icon-hamburger.png);
  margin-left: 1.5em; }
  @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2) {
    .i-hamburger {
      background-image: url(img/icon-hamburger-2x.png);
      background-size: 20px; } }

.i-close {
  height: 20px;
  width: 20px;
  background-image: url(img/icon-close.png); }

.i-back {
  height: 20px;
  width: 20px;
  background-image: url(img/icon-back.png); }

a {
  color: #e52d47; }
  a:visited {
    color: #e52d47; }
  a:hover {
    text-decoration: none;
    color: #c61931; }
  a:focus {
    outline: thin dotted;
    color: #c61931; }
  a:hover, a:active {
    outline: 0; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

body,
input,
textarea,
select {
  font-family: "Exo 2", sans-serif;
  color: #888888; }

.highlight-primary {
  color: #27262b; }
  .highlight-primary p {
    color: #888888; }

.highlight-secondary {
  color: #888888; }
  .highlight-secondary li {
    border: none; }
  .highlight-secondary a {
    text-transform: uppercase;
    text-decoration: none; }
    .highlight-secondary a:hover {
      text-decoration: underline; }

.highlight-tertiary {
  color: #1473ad; }

.highlight-quaternary {
  color: #ebebeb; }

p {
  margin: 0;
  padding-bottom: 1em; }

.over-text, a.over-text, .over .link-comments {
  color: #ffffff; }
  .over-text:hover, a.over-text:hover, .over .link-comments:hover {
    color: #ffffff; }

.over {
  min-height: 320px; }

.category {
  font-size: 0.8em;
  text-transform: uppercase;
  color: #bfbec5; }

.article-title {
  font-size: 2em;
  line-height: 1;
  text-transform: uppercase; }

.article-author {
  color: #e52d47;
  padding-bottom: 0; }

.article-date {
  font-size: 0.7em; }

.article-header {
  *zoom: 1;
  padding: 0 1em 0 1em; }
  .article-header:before {
    content: " ";
    display: table; }
  .article-header:after {
    content: " ";
    display: table;
    clear: both; }
  .article-header .article-meta {
    float: left;
    padding-top: 0.75em; }
  .article-header .link-comments {
    float: right; }

article {
  padding: 0 1em 4em 1em; }
  article p:first-child {
    color: #e52d47;
    font-size: 1.25em; }

.btn {
  background-color: #e52d47;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none; }
  .btn:hover {
    color: #ffffff;
    background-color: #eb5a6f; }

a.btn {
  color: #ffffff; }
  a.btn:hover, a.btn:visited {
    color: #ffffff; }

.poll-results {
  padding: 1em; }
  .poll-results p {
    margin-bottom: 0.25em; }

.poll-result {
  margin-bottom: 1em; }

.poll-result-answer {
  text-transform: uppercase;
  font-size: 0.8em;
  margin-bottom: 0.5em;
  display: inline-block; }

.poll-result-bar {
  position: relative;
  background-color: #e52d47;
  height: 2.5em; }
  .poll-result-bar:after {
    content: attr(data-percent);
    position: absolute;
    right: 0;
    color: #27262b;
    font-weight: bold;
    font-size: 2em;
    right: -2.25em;
    top: -0.1em; }

.poll-results-bar-large:after {
  right: 0.25em; }

.poll-result:nth-of-type(1) .poll-result-bar {
  background-color: #f08897; }

.poll-result:nth-of-type(2) .poll-result-bar {
  background-color: #eb5a6f; }

.poll-result:nth-of-type(3) .poll-result-bar {
  background-color: #e52d47; }

.poll-result:nth-of-type(4) .poll-result-bar {
  background-color: #c61931; }

.poll-result:nth-of-type(5) .poll-result-bar {
  background-color: #991326; }

.poll-result:nth-of-type(6) .poll-result-bar {
  background-color: #6c0d1b; }

.link-comments {
  color: #a5a3ad;
  text-decoration: none; }
  .link-comments:hover {
    color: #27262b;
    text-decoration: underline; }

.link-comments-alt {
  color: #e52d47; }
  .link-comments-alt:hover {
    color: #e52d47; }

.comments {
  padding: 0 1em 1em 1em;
  margin: 0 1.5em;
  font-size: 0.9em; }

.comments-header {
  padding-bottom: 1em; }

.comment-list {
  list-style: none;
  margin: 0;
  padding: 0; }
  .comment-list p {
    margin-top: 0; }

.comment {
  padding: 1em 0;
  border-bottom: solid 1px #dad9dd; }
  .comment:last-child {
    border-bottom: none; }

.comment-actions {
  padding: 0; }
  .comment-actions li:first-child a {
    padding-left: 0; }

.comment-author {
  font-weight: bold; }

.avatar {
  float: left;
  margin: 0 1em 0.5em 0; }

.comment-add {
  float: right;
  text-transform: uppercase;
  padding-top: 0.5em;
  font-weight: bold; }

.add-comment {
  padding: 1em; }

.error {
  color: #e52d47; }

.input-error {
  border: solid 1px #e52d47; }

textarea {
  margin: 1em 0 0.5em 0; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

[role="contentinfo"] {
  background: #27262b;
  text-align: center;
  padding-top: 1em;
  border-top: solid 1px #000000;
  font-size: 0.9em; }

.copyright {
  text-align: center;
  padding-top: 1em;
  margin-top: 1em;
  border-top: solid 1px #888888; }

.nav-social {
  text-align: center; }
  .nav-social li {
    border-color: transparent; }
  .nav-social a {
    text-decoration: none; }

.nav-social-share a {
  display: inline-block; }

.nav-legal-lang {
  text-align: center; }
  .nav-legal-lang li {
    border-color: #888888; }
    .nav-legal-lang li:last-child {
      padding-left: 0.5em;
      margin-top: 0.5em; }

.poll {
  padding: 1em;
  border-top: solid 1px #888888; }
  .poll .article-title {
    margin-bottom: 0.25em; }

.poll-options {
  margin-bottom: 1em;
  font-size: 1.25em;
  line-height: 1; }
  .poll-options input {
    margin-right: 0.1em;
    position: relative; }
  .poll-options label {
    margin-bottom: 1em;
    text-transform: none; }

.cta {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0; }
  .cta a {
    display: block;
    padding: 1em 0; }

.profile, .padded-page {
  padding: 5em 1em 1em 1em; }

.profile-details {
  *zoom: 1;
  line-height: 1;
  margin-bottom: 2em; }
  .profile-details:before {
    content: " ";
    display: table; }
  .profile-details:after {
    content: " ";
    display: table;
    clear: both; }

.profile-details-name {
  font-size: 2em;
  font-weight: bold; }

.nav-main {
  padding: 0.5em 1.5em 4em 1em;
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  height: 4em; }

.nav-menu .nav-main {
  position: relative; }

form {
  padding: 1em; }
  form label, form legend {
    text-transform: uppercase;
    display: block; }
  form legend {
    padding: 0;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em; }
  form label > input, form label > select {
    margin-top: 0.5em; }
  form input[type="text"],
  form input[type="number"],
  form input[type="search"],
  form input[type="checkbox"],
  form input[type="tel"],
  form input[type="password"],
  form select {
    background-color: transparent;
    border: solid 1px #888888; }

.form-sign-in input[type="submit"] {
  margin: 1em 0 2em 0; }

.sign-up {
  margin-top: 2em; }

.list-article-teasers a {
  text-decoration: none;
  padding: 0; }
.list-article-teasers .article-title {
  margin-bottom: 1em; }

.article-teaser {
  padding: 1em;
  *zoom: 1; }
  .article-teaser:before {
    content: " ";
    display: table; }
  .article-teaser:after {
    content: " ";
    display: table;
    clear: both; }

.form-sign-in input, .form-sign-in select {
  color: #ebebeb; }

.rightAfter:after {
  right: 0 !important; }

html {
  -webkit-tap-highlight-color: transparent; }

.over-text.post-heading-overlay-light {
  color: rgba(255, 255, 255, 0.3) !important; }

.over-text.post-heading-overlay-dark {
  color: rgba(0, 0, 0, 0.3) !important; }

.post-heading-title-color-light {
  color: #333; }

.post-heading-title-color-dark {
  color: #fff; }

.post-heading-category-light {
  color: #666; }

.post-heading-category-dark {
  color: #bfbec5; }

.poll-article-heading-text {
  font-size: 1.25em;
  text-transform: initial; }

.form-register a {
  text-decoration: underline; }

.poll .poll-options label {
  font-size: 0.8em; }

.avatar-upload a {
  display: block; }

.avatar-upload label {
  display: inline; }

/*# sourceMappingURL=style.css.map */
